<IfModule mod_rewrite.c>
    RewriteEngine On

    # Protect sensitive files
    RewriteRule ^(\.env|composer\.json|composer\.lock|package\.json|package-lock\.json|nirvana\.sql|mariadb\.err\.log|mariadb\.out\.log)$ - [F,L]
    RewriteRule ^(app|bootstrap|config|database|resources|scripts|storage|tests|vendor)/.*$ - [F,L]

    # Redirect all traffic to the public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

